.projectCard {
  width: 24%;
  padding: 1rem;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
}

.projectCard h4 {
  background-color: #222;
  color: var(--main-color);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.projectCard p {
  color: #7a7a7a;
  margin-bottom: 0.5rem;
}

.projectCard p span {
  font-weight: bold;
}

.categoryText {
  display: flex;
  align-items: center;
}

.categoryText span {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #ccc;
}

.categoryText .infra {
  background-color: #ffaebc;
}
.categoryText .desenvolvimento {
  background-color: #a0e7e5;
}
.categoryText .design {
  background-color: #b4f8c8;
}
.categoryText .planejamento {
  background-color: #fbe7c6;
}

.projectCardActions {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.projectCardActions a,
.projectCardActions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid #222;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.projectCardActions a:hover,
.projectCardActions button:hover,
.projectCardActions a:focus-visible,
.projectCardActions button:focus-visible {
  background-color: #222;
  color: var(--main-color);
}
