.formControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formControl label {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.formControl Select {
  padding: 0.7rem;
  border-radius: 0;
  border-color: transparent;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.formControl select:focus-visible {
  outline: none;
  border-color: #e54b4b;
  box-shadow: 2px 2px 10px rgba(229, 75, 75, 0.5);
}
