.btn {
  background-color: #222;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition:
    color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn:hover,
.btn:focus-visible {
  color: var(--main-color);
  box-shadow: 3px 3px 15px rgba(229, 75, 75, 0.5);
}
