.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

.home h1 span {
  color: var(--main-color);
  padding: 0 0.5rem;
  border-radius: 10px;
  background-color: #111;
}

.home p {
  margin-bottom: 2rem;
  color: #7b7b7b;
}

.home img {
  width: 350px;
  height: auto;
  margin: 2rem 0;
}
