.loaderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginFix {
  margin-block: 2rem;
}

.loader {
  animation: rotate 1s linear infinite;
  width: 50px;
  height: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
