* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body,
#root {
  background-color: #efefef;
  scroll-behavior: smooth;
  height: 100%;
}

:root {
  --main-color: #e54b4b;
}
